/* ABOUT */
.about {
  padding: 80px 60px 120px;
}

.orange-label {
  color: #ff7c29;
  font-size: 16px;
  margin-bottom: 10px;
}

.about-title {
  font-size: 45px;
  font-weight: bold;
  margin-top: -10px;
}

.about-image-box img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 18px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 40px;
  align-items: center;
}

.about-text {
  opacity: 0.9;
  line-height: 1.6;
}

.small-text {
  font-size: 18px;
  opacity: 0.7;
  margin-bottom: 15px;
}

.btn-primary {
  background: #ff6a00;
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

/* IMAGE GRID */
.img-row {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.img-row img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
}


@media (max-width: 850px) {
  .about-grid {
    grid-template-columns: 1fr;
  }

  .about-image-box img {
    height: 250px;
  }
}


 .abtCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px;
}